a{
    text-decoration: none;
}
.table-sortable th {
    cursor: pointer;
}

.table-sortable .th-sort-asc::after {
    content: "\25b4";
}

.table-sortable .th-sort-desc::after {
    content: "\25be";
}

.table-sortable .th-sort-asc::after,
.table-sortable .th-sort-desc::after {
    margin-left: 5px;
}

.table-sortable .th-sort-asc,
.table-sortable .th-sort-desc {
    background: rgba(0, 0, 0, 0.1);
}

#show_tableModal {
    z-index: 99999;
}
.th_name{
    width: 33%;
}
.th_amount{
    max-width: 100px;
    width: 100px;
}


